# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.opensdf
*.sln
*.sdf
Audio/Debug/
Video/Debug/
AVManager/Debug/
UpGrade/Debug/
DuiLib/Build/
lib/
ipch/
bin/
Debug/*.dll
Debug/*.ilk
Debug/*.pdb
Debug/*.exe
Release/